*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.contenitore{
   width: 200px;
}

.padding-contenitore{
   padding-top: 20px;
}

.evidenziamento-giallo{
   background-color: yellow;
}

/*Classi Header*/
.sfondo-logo{
   background-image: url(../img/pattern.png);
   background-color:#4EA0FF ;
   height: 175px;
}

.dimensioni-logo{
   width: 300px;
   padding-top: 70px;
}

/*Classi Main*/
.dimensione-titolo{
   font-size: 70px;
   font-weight: 700;
}

.colore-descrizione{
   color: #7F7F7F;
}

.dimensione-descrizione{
   font-size: 30px;
}

.colore-giornale{
   color:#4EA0FF
}

.dimensione-data{
   font-size: larger;
}

ul.a{
   list-style: circle;
}